<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Catalog</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Catalog</h1>
      <div class="login">
        <p>Google Sign In</p>
      </div>
    </header>
    <hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

    {% block content %}{% endblock %}
    </div>
  </div>
  {% block modals %}{% endblock %}
</body>
</html>
