{% extends "base.html" %}

{% block login %}
<button id="signinButton">Sign in with Google</button>
<script>
  $('#signinButton').click(function() {
    // signInCallback defined in step 6.
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>
{% endblock %}

{% block callback %}
window.location.href = "{{url_for('showCategory', id=id)}}";
{% endblock %}

{% block content %}
<div class="item-grid">
  <div class="item-grid__header">
    <h1>{{category.name}}</h1>
    <p class="description">
      {{category.description}}
    </p>
  </div>
  {% if items %}
  {% for i in items %}
  <div class="item-grid__item">
    <h3>{{i.name}}</h3>
    {% if i.picture %}
    <img src="{{i.picture}}" alt="item image" height="100" width="100">
    {% endif %}
    <p class="description">{{i.description}}</p>
    <div class="edit_buttons">
      <button class="edit" name="edit" value="{{i.id}}"></button>
      <button class="delete" name="delete" value="{{i.id}}"></button>
    </div>
  {% endfor %}
  {% block addnew %}{% endblock %}
  </div>

  {% endif %}
</div>
{% endblock %}
