{% extends "base.html" %}

{% block login %}
<button>GOOGLE SIGN IN</button>
{% endblock %}

{% block content %}
<div class="item-grid">
  <div class="item-grid__header">
    <h1>{{category.name}}</h1>
    <p class="description">
      {{category.description}}
    </p>
  </div>
  {% if items %}
  {% for i in items %}
  <div class="item-grid__item">
    <h3>{{i.name}}</h3>
    <img src="{{i.picture}}" alt="item image" height="100" width="100">
    <p class="description">{{i.description}}</p>
    <div class="edit_buttons">
      <button class="edit" name="edit" value="{{i.id}}"></button>
      <button class="delete" name="delete" value="{{i.id}}"></button>
    </div>
  {% endfor %}
  {% block addnew %}{% endblock %}
  </div>

  {% endif %}
</div>
{% endblock %}
