{% extends "base.html" %}

{% block login %}
<input id="signinButton" type=image src="{{url_for('static', filename="img/btn_google_signin_light_normal_web.png")}}">
<script>
  $('#signinButton').hover( function(){
    $( this ).attr("src", "{{url_for('static', filename="img/btn_google_signin_light_pressed_web.png")}}")
  }, function() {
    $( this ).attr("src", "{{url_for('static', filename="img/btn_google_signin_light_normal_web.png")}}")
  }
  );
  $('#signinButton').click(function() {
    // signInCallback defined in step 6.
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>
{% endblock %}

{% block callback %}
window.location.href = "{{url_for('index')}}";
{% endblock %}

{% block content %}
<div class="category-grid">
  {% if categories %}
  {% for i in categories %}
  <div class="category-grid__category">
    {% set categoryuser = User.query.get(i.user_id) %}
    <span class="subtext">{{categoryuser.username}}</span>
    <h3>
      <a id="categoryName{{i.id}}" href="{{url_for('showCategory', id=i.id)}}">{{i.name}}</a>
    </h3>
    <p id="categoryDescription{{i.id}}" class="description">{{i.description}}</p>
    <input class="id_button" type="button" value="{{i.id}}">

    {% if user and user.id == i.user_id %}
    <div class="edit_buttons">
      <button class="edit material-icons md-dark" name="edit" value="{{i.id}}">edit</button>
      <button class="delete material-icons md-dark" name="delete" value="{{i.id}}">delete</button>
    </div>
    {% endif %}
  </div>
  {% endfor %}
  {% endif %}
  {% block addnew %}{% endblock %}
  </div>
<div class="recent_items">
  <h1>Recent Items</h1>
  <div class="recent_items__row">
    {% for i in items[-1:-3:-1] %}
    <div class="recent_items__item">
      {% set itemcategory = Category.query.get(i.category) %}
      <span class="subtext">{{itemcategory.name}}</span>
      <h3>{{i.name}}</h3>
      {% if i.picture %}
      <img src="{{i.picture}}" alt="item image">
      {% endif %}
      <p class="description">{{i.description}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block hidebuttons %}
<script>
$('div.edit_buttons').css("display", "none");
</script>
{% endblock %}
